.file-upload-button-container {
    display: flex; 
    justify-content: flex-end;
}

.slds-modal__content {
    padding: 16px;
}

.upload-files-button, .cancel-button {
    --slds-c-button-text-color: #39515C;
    color: #39515C;
}

.file-upload-error {
    color: var(--lwc-colorTextError, rgb(234, 0, 30)) !important;
    padding-top: 16px;
}