/* ====================================================
   Improved Design Tokens & Global Styles
   ==================================================== */


:root {
    /* ----------------------- Colors ----------------------- */
    --flwins-c-navy-navy-20:#4D5075;
    --flwins-c-navy-navy-40:#797C97;
    --flwins-c-navy-navy-50:#101229; /*navy/navy+50*/
    --flwins-c-navy-navy-50-light:#9092A9; /*navy/navy-50*/
    --flwins-c-navy-navy-70:#BCBDCB;
    --flwins-c-navy-navy-80:#D2D3DC;
    --flwins-c-navy-navy-90:#E9E9EE;
    --flwins-c-sky-sky-30:#638DA1;
    --flwins-c-sky-sky-70:#2B3C45;
    
    --flwins-c-white:#ffffff;
    --flwins-c-lightGray:var(--flwins-c-navy-navy-80);
    --flwins-c-color-mainPrimaryColor:#39515C;
    --flwins-c-navigationIcon:#55798A;
    --flwins-c-light-background:#D2EAF5;
    
    
    /*++header, section ++++*/
    --flwins-c-mainPrimaryColor:#39515C;
    --flwins-c-sectionheadline-text-color:var(--flwins-c-color-mainPrimaryColor);
    --flwins-c-paragraph-text-color:var(--flwins-c-color-mainPrimaryColor);
    
    /*-- letter spacing ----*/
    --flwins-c-letter-spacing-1:-0.2px;
    --flwins-c-letter-spacing-2:-2px;
    --flwins-c-letter-spacing-4:-4px;

    /*new*/
    --flwins-c-font-size_13:13px;
    --flwins-c-font-size_14:14px;
    --flwins-c-font-size_16:16px;
    --flwins-c-font-size_18:18px;
    --flwins-c-font-size_26:26px;
    --flwins-c-font-size_48:48px;
    --flwins-c-font-size_60:60px;
    --flwins-c-font-size_64:64px;
    --flwins-c-font-size_80:80px;
    
    
    /*line height*/
    --flwins-c-line-height20:20px;
    --flwins-c-line-height58:58px;
    --flwins-c-line-height60:60px;
    --flwins-c-line-height68:68px;
    --flwins-c-line-height84:84px;
    
    --flwins-c-font-lineheight60:var(--flwins-c-line-height60);
    --common-font-size:var(--flwins-c-font-size_16);
   
    /*+++font weight+++*/
    --flwins-font-weight-300:300;
    --flwins-font-weight-400:400;
    --flwins-font-weight-500:500;
    --flwins-font-weight-700:700;
    

    /*++ Border Radius +++++++++++++++++++++++++++++++++++++*/
    --flwins-c-radius-border-1:1px;
    --flwins-c-radius-border-2:2px;
    --flwins-c-radius-border-4:4px; 
    --flwins-c-radius-border-15:15px; 
    

    /*++ Border width +++++++++++++++++++++++++++++++++++++*/
    --flwins-c-border-1:1px;
    --flwins-c-border-2:2px;
    --flwins-c-border-3:3px; 
    --flwins-c-border-4:4px; 
    
    /* button default style +++++++++++++++++++++++++++++++++++++*/
    --btn-font-size:var(--flwins-c-font-size_16);
    --btn-line-height:var(--flwins-c-line-height20);
    --btn-font-weight:var(--flwins-font-weight-700);
    --btn-border-radius:var(--flwins-c-radius-border-15);
    --btn-padding:9px 20px;
    --btn-padding-mini: 5px 15px;
    --btn-width: auto;
    --button-border-control:var(--flwins-c-border-2) solid var(--flwins-c-color-mainPrimaryColor);
    
    --buttonPrimaryBtnNeutral-text-decoration:underline;
    --buttonPrimaryBtnNeutral-text-decoration-thickness: var(--flwins-c-border-2);
   
    
    /* button fonts for brand font style ++++++++++++++++*/
    --buttonPrimaryBtnBrand-font-size: var(--btn-font-size);
    --buttonPrimaryBtnBrand-line-height: var(--btn-line-height);
    --buttonPrimaryBtnBrand-font-color: var(--flwins-c-white);
    --buttonPrimaryBtnBrand-font-weight: var(--btn-font-weight);
    --buttonPrimaryBtnBrand-padding:var(--btn-padding);
    --buttonPrimaryBtnBrand-borderRadius:var(--btn-border-radius);
    --buttonPrimaryBtnBrand-btnWidth:var(--btn-width);
    --buttonPrimaryBtnBrand-backgroundColor:var(--flwins-c-color-mainPrimaryColor);
    --button-border-primary-control:var(--button-border-control);
    --buttonPrimaryBtnBrandfloat: right;
    --buttonPrimaryBtnBrandtransition:text-decoration 1s ease;
    --buttonPrimaryBtnBrand-padding-mini:var(--btn-padding-mini);
    
    /*++ button font default neutral button style+++++++++++*/
    --buttonPrimaryBtnNeutral-backgroundcolor:var(--flwins-c-white);
    --buttonPrimaryBtnNeutral-font-color: var(--flwins-c-color-mainPrimaryColor);
    --buttonPrimaryBtnNeutral-font-size: var(--btn-font-size);
    --buttonPrimaryBtnNeutral-line-height: var(--btn-line-height);
    --buttonPrimaryBtnNeutral-font-weight: var(--btn-font-weight);  
    --buttonPrimaryBtnNeutral-padding:var(--btn-padding);
    --buttonPrimaryBtnNeutral-borderRadius:var(--btn-border-radius);
    --buttonPrimaryBtnNeutral-btnWidth:var(--btn-width);
    --buttonPrimaryBtnNeutral-btnBorder:var(--button-border-control);
    
    
    
    /*button Inverse style ++++++++*/
    --buttonPrimayInverse-font-color:var(--flwins-c-color-mainPrimaryColor);
    --buttonPrimayInverse-background-color:var(--flwins-c-white);
    --buttonPrimaryInverse-btnBorder-control:var(--flwins-c-border-2) solid var(--flwins-c-color-mainPrimaryColor);
    
    /*++ Disaabled ++++++++++++++++++++++++++++++++ */
    --buttonDisabled-font-color: var(--flwins-c-navy-navy-50-light);
    --button-border-disabled-control:var(--flwins-c-border-2) solid var(--flwins-c-navy-navy-50-light);
    
    
    /*Standard Setting*/
    --flwins-c-txt-color:var(--flwins-c-color-mainPrimaryColor);
    --flwins-c-background-color:var(--flwins-c-white);
    
    /*+++ Salesforce Lightning Design System (SLDS) styling hooks */
    
    
    /*++ FORM -- Standard Input +++++++++++++++++++++++++++++++++++++*/
    --slds-c-input-color-border: var(--flwins-c-navy-navy-50);
    --slds-c-input-radius-border: var(--flwins-c-radius-border-4);
    --slds-c-input-text-color: var(--flwins-c-color-mainPrimaryColor);
    
    /*Input box */
    --flwins-c-input-box-padding:8px 8px 8px 15px;
    --input-border:var(--flwins-c-border-1) solid var(--flwins-c-navy-navy-50);
    --flwins-c-font-size-default:var(--flwins-c-font-size_16);
    
    /* Disabled Input box */
    --slds-c-disabled-input-text-color: var(--flwins-c-color-mainPrimaryColor);
    --slds-c-disabled-input-color-border:var(--flwins-c-navy-navy-50-light);
    --slds-c-disabled-input-color-background:var(--flwins-c-navy-navy-90);
    --slds-c-disabled-input-border-control: var(--flwins-c-border-1) solid ar(--flwins-c-navy-navy-50-light);
    
    
    /*Textarea Specific*/
    --input-box-border-radius:var(--slds-c-input-radius-border);
    --input-boxtextarea-padding:15px;
    --input-textarea-height-big:112px;
    
    
    /*form label */
    --flwins-c-label-font-size: var(--flwins-c-font-size_14);
    --flwins-c-label-font-weight: var(--flwins-font-weight-400);
    --flwins-c-label-line-height:17.5px;
    --flwins-c-label-font-color:var(--flwins-c-color-mainPrimaryColor);
    --flwins-c-label-font-color:var(--flwins-c-color-mainPrimaryColor);
    --flwins-c-label-margin: 5px 0px;
    --labelFormTxtSize:var(--flwins-c-label-font-size);
    
    /*form value*/
    --flwins-c-value-font-size:var(--flwins-c-font-size_16);
    --flwins-c-value-line-height:20px;
    --flwins-c-value-font-weight: var(--flwins-font-weight-400);
    
    /*input text box */
    --flwins-c-input-box-text-color:var(--flwins-c-color-mainPrimaryColor);
    --flwins-c-input-box-text-color:var(--flwins-c-color-mainPrimaryColor);
    
    /*input checkbox */
     --slds-c-checkbox-mark-color-foreground:var(--flwins-c-navy-navy-50);
     --slds-c-checkbox-color-border: var(--flwins-c-navy-navy-50);
     --slds-c-checkbox-color-border-checked: var(--flwins-c-navy-navy-50);
     --input-checkbox-border-width:var(--flwins-c-border-1);
    

    /*input radio */
      --input-radio-border-width:var(--flwins-c-border-1);
      --slds-c-radio-color-border: var(--flwins-c-navy-navy-50);
      --sds-c-radio-mark-color-foreground: var(--flwins-c-navy-navy-50);
      --slds-c-radio-color-border-checked: var(--flwins-c-navy-navy-50);
      --flwins-c-radio-value-font-size:var(--flwins-c-font-size_16);
    
  
    /* margin */
    --margin-space-0: 0px;
    --margin-space-15: 15px;
    --display-block: block;
    --margin-space-24:24px;
    


    /*header navigation dropdown*/
    --header-dropdown-border-color:#d9d9d9;

}


/*end variable*/

/*service detail page*/
/*header*/
/*
body {
    font-size:var(--flwins-c-font-size_18) !important;
    font-weight:var(--flwins-font-weight-400) !important; 
}
*/

/*most common place for largeTitle is in H1 tag */
h1, h2.section, h2.slds-text-heading_large, h3.section, .largeTitle, 
h3.slds-text-heading_large{
    color:var(--flwins-c-sectionheadline-text-color);
    font-size:var(--flwins-c-font-size_60) !important;
    font-weight:var(--flwins-font-weight-300) !important;
    line-height:var(--flwins-c-font-lineheight60) !important;
    letter-spacing:var(--flwins-c-letter-spacing-2) !important;
}

h1.hero {
    font-weight:var(--flwins-font-weight-700) !important;
    font-size:var(--flwins-c-font-size_80) !important;
    color:var(--flwins-c-color-mainPrimaryColor) !important;
    line-height:var(--flwins-c-line-height84) !important;
    letter-spacing:var(--flwins-c-letter-spacing-2) !important;
}
 
h2, h3.card, .mediumTitle, h3.slds-text-heading_medium, h3.cardTitle, .siteforcePanelsContainer .modal-header .title {
    font-weight:var(--flwins-font-weight-500) !important;
    font-size:var(--flwins-c-font-size_26) !important;
    color:var(--flwins-c-sectionheadline-text-color)  !important;
    letter-spacing:var(--flwins-c-letter-spacing-1)  !important;
    line-height: 33px !important;
}

h3, h4, p.strong, .smallTitle,  .slds-text-heading_small,  h2.min{
    font-weight:var(--flwins-font-weight-700) !important;
    font-size:var(--flwins-c-font-size_18) !important;
    color:var(--flwins-c-sectionheadline-text-color) !important;
    line-height: 24px !important;
    letter-spacing:0  !important;
}

.xSmallTitle, button.min{
    font-weight:var(--flwins-font-weight-700) !important;
    font-size:var(--flwins-c-font-size_14) !important;
    color:var(--flwins-c-sectionheadline-text-color) !important;
    letter-spacing:0  !important;
}

label, .txtMini
{
    font-weight: var(--flwins-font-weight-400)!important;
    font-size: var(--flwins-c-font-size_14) !important;
    color:var(--flwins-c-paragraph-text-color) !important;
}

input, .smallTxt, button.slds-combobox__input, slds-checkbox__label,
.slds-radio .slds-radio__label,
.slds-checkbox .slds-checkbox__label .slds-form-element__label,
.forceCommunityGlobalNavigation .slds-is-nested .slds-list__item a, 
.forceCommunityGlobalNavigation .slds-is-nested .slds-list__item button, 
.slds-dropdown__item>a, .serviceDepartmentDiv p, .need-bubble .need-label {
    font-weight: var(--flwins-font-weight-400)!important;
    font-size: var(--flwins-c-font-size_16) !important;
    color:var(--flwins-c-paragraph-text-color) !important;
}

.needs-section .needs-container /*use .txtMini */ {
    font-size: var(--flwins-c-font-size_14);
    font-weight:var(--flwins-font-weight-400)!important;
}


p, .mediumTxt {
    font-weight:var(--flwins-font-weight-400) !important;
    font-size:var(--flwins-c-font-size_18) !important;
    color:var(--flwins-c-paragraph-text-color) !important;
}

p.strong, lightning-tab-bar a.lds-tabs_default__link, p strong {
    font-size:var(--flwins-c-font-size_18) !important;
    font-weight:var(--flwins-font-weight-700) !important;
    color:var(--flwins-c-paragraph-text-color) !important;
}

p.serviceAgenciesName, p.resultsParagraph /*use .mediumTxt */{
    font-size:var(--flwins-c-font-size_16) !important;
    font-weight:var(--flwins-font-weight-700)!important;
    margin-bottom: 11px;
    color:var(--flwins-c-sectionheadline-text-color);
}

/*home page */
.cX7S_Theme .steps .homeJourney {
    margin-top: 33px;
}
.cX7S_Theme .steps .homeJourney h3 {
    margin-top: 20px;
    margin-bottom:20px;
}
.cX7S_Theme .steps .homeJourney .x7s-banner__buttons {
    margin-top:50px;
}
.cX7S_Theme .steps .homeJourney p.slds-text-heading_small {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(100, 141, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: rgb(100, 141, 161) !important;
    font-size: 26px !important;
}


.homeProfile {
    margin-top:20px;
}
.x7s-progress-circle_svg {
        margin-left: 10px;
}
c-home-page-profile-completion  lightning-layout-item .button-black {
    display: flex;
    justify-content: center;
}
c-home-page-profile-completion  lightning-layout-item .button-black button {
    justify-content: center;
    margin-top: 30px;
}

.section_journey {
    display:flex;
}
.section_journey h2.slds-text-heading_large {
    margin:20px 10px;
}
button, a, .linkButton, .largeTxt {
    font-size:var(--flwins-c-font-size_16) !important;
    font-weight: var(--flwins-font-weight-700) !important;
    color:var(--flwins-c-color-mainPrimaryColor)  !important;
}

.slds-modal__footer .slds-button {
     color:var(--flwins-c-white)  !important;
}
.slds-modal__footer .slds-button.slds-button_neutral {
     color:var(--flwins-c-color-mainPrimaryColor)  !important;
}

a.locationLink {
    font-size:var(--flwins-c-font-size_16) !important;
    font-weight: var(--flwins-font-weight-700) !important;
    color:var(--flwins-c-color-mainPrimaryColor)  !important;
}
.homeDiv_margin-y-small {
    padding: 2px 0 20px 0;
}
.margin-y-large-35 {
   margin: 35px 0; 
}
.homeDiv_margin-y-medium {
    margin: 25px 0; 
}
.home_Service_Match {
    
}
/*A.min family-----*/
a.min, .linkButtonMin, 
.cFLWINSProfileMenu .guest-links a, 
.cFLWINSLanguageSelector .lang-button-text, 
.cFLWINSProfileMenu .welcome-text, .cFLWINSLanguageSelector .lang-button-text {
    font-size:var(--flwins-c-font-size_14) !important;
    font-weight: var(--flwins-font-weight-700) !important;
}



.serviceDepartmentDiv h3.slds-text-heading_medium {
    margin-bottom: 25px;
}


.agenciesAddressInfoWapper{
    margin:40px 0;
}

.agenciesAddressInfoWapper h3 {
    margin-bottom: 10px;
}

/*+++++ service detail pages ++++  */

/*nextStepDiv*/
.nextStepDiv p {
    margin-bottom: 20px !important;
    margin-top: 10px !important;
}
/*serviceDepartmentDiv*/

.serviceDepartmentDiv h3.slds-text-heading_small {
    margin-bottom:25px !important;
}
.serviceDepartmentDiv p  /*.smallTxt*/ {
    margin-bottom: 20px !important;
}


.serviceDepartmentDiv lightning-button.button-text lightning-primitive-icon {
    display: none  !important;
} 

/*end serviceDepartmentDiv */
/*need label*/
.need-bubble {
    background-color:var(--flwins-c-light-background) !important;
}
/*service Detail page -- Agency Location information*/
.agenciesLocation {
    max-width: 400px; 
    padding-top: 20px;
}

.agenciesLocation .agenciesLocationTitle {
   margin-top: 40px;
    margin-bottom: 40px;
}
.agenciesLocation p.agenciesAddress /*use .mediumTxt */ {
    font-size:var(--flwins-c-font-size_18) !important;
    font-weight: var(--flwins-font-weight-400)!important;
    margin-top: 10px !important;
}


/*header section*/

div[data-region-name="header"], div.titleAddMargin {
   margin-top: 60px;
    margin-bottom: 16px;
}

.headerOs h1 /*omniscript, flex card, Header1*/ {
    /*
    color:var(--flwins-c-sectionheadline-text-color);
    font-size:var(--flwins-c-font-size_60) !important;
    font-weight:var(--flwins-font-weight-300) !important;
    line-height:var(--flwins-c-font-lineheight60) !important;
    letter-spacing:var(--flwins-c-letter-spacing-2) !important;
    */
}

.titleContainer {
  display: flex;
  margin-top: 0px;
  margin-bottom:16px;
  flex-direction: column-reverse; /* Reverses visual order */
}

div.myIntakeTitle {
    margin-top:0 !important;
}



.fontColorSky30 {
    color: var(--flwins-c-sky-sky-30);
}

/*form */
/*omniscript step body*/
runtime_omnistudio_omniscript-omniscript-step div.omniscript-step__body{
    padding-left: 0 !important;
    padding-top: 15px !important;
}

.slds-input{
    border:1px solid var(--slds-c-input-color-border) !important;
    color:var(--slds-c-input-text-color) !important;
    font-weight:var(--flwins-font-weight-400) !important;
   
}

div.slds-checkbox label span.slds-checkbox_faux {
    border-color: var(--slds-c-checkbox-color-border) !important;
}
/*omniscript checkbox*/
runtime_omnistudio_omniscript-omniscript-multiselect runtime_omnistudio_common-checkbox-group div.slds-checkbox label.slds-checkbox__label span.slds-checkbox_faux
{
    border-color: var(--slds-c-checkbox-color-border) !important;
    margin-right: 15px !important;
}

.vlocity-input.slds-input, runtime_omnistudio_omniscript-omniscript-custom-lwc .slds-input, runtime_omnistudio_common-combobox .slds-input {
    padding: var(--flwins-c-input-box-padding) !important;
    font-size: var(--flwins-c-font-size-default) !important;
    color: var(--flwins-c-color-mainPrimaryColor, #39515C) !important;
}
runtime_omnistudio_omniscript-omniscript-text-block .slds-rich-text-editor__output h2 {
    margin-bottom: 10px !important;
    margin-top: 0 !important;

}
/*-- end omniscript checkbox ---*/
::placeholder { 
    color: var(--slds-c-input-text-color) !important;
    font-weight: var(--flwins-font-weight-400) !important;
}

.slds-radio .slds-radio_faux, .slds-radio .slds-radio--faux {
    border:var(--input-radio-border-width) solid var(--slds-c-radio-color-border) !important;
}

div.slds-radio .slds-radio__label span.slds-form-element__label {
    color: var(--input-box-txt-color) !important;
    font-size: var(--flwins-c-radio-value-font-size) !important;
    font-weight: var(--general-value-font-weight) !important;
}


textarea {
    border: var(--input-border)!important;
    border-radius:var(--input-box-border-radius)  !important;
    padding:var(input-boxtextarea-padding)  !important;
    height:var(--input-textarea-height-big)  !important;
    font-size: var(--flwins-c-value-font-size) !important;
}

/*++++Button+++++*/
button.slds-button_brand {
    background-color: var(--buttonPrimaryBtnBrand-backgroundColor) ;
    color:var(--buttonPrimaryBtnBrand-font-color)  !important;
    border: var(--button-border-control) !important;
    border-radius: var(--buttonPrimaryBtnBrand-borderRadius) !important;
    font-size: var(--buttonPrimaryBtnBrand-font-size) !important;
    
    font-weight: var(--buttonPrimaryBtnBrand-font-weight) !important;
    padding: var(--buttonPrimaryBtnBrand-padding) !important;
}

button.slds-button_neutral {
    background-color: var(--buttonPrimaryBtnNeutral-backgroundcolor) !important;
    border: var(--buttonPrimaryBtnNeutral-btnBorder) !important;
    border-radius: var(--buttonPrimaryBtnNeutral-borderRadius) !important;
    font-size: var(--buttonPrimaryBtnNeutral-font-size) !important;
    line-height: var(--buttonPrimaryBtnNeutral-line-height) !important;
    font-weight: var(--buttonPrimaryBtnNeutral-font-weight) !important;
    padding: var(--buttonPrimaryBtnNeutral-padding) !important;
    color: var(--buttonPrimaryBtnNeutral-font-color) !important; 
}


button.slds-button_inverse {
    color: var(--flwins-c-white)  !important;
}



.slds-button_inverse:hover, .slds-button:hover, .button-white button:hover {
    text-decoration: underline  !important;
    background-color: var(--flwins-c-white)  !important;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
} 

.slds-button.slds-button_brand:hover {
    background-color: var(--buttonPrimaryBtnBrand-backgroundColor)  !important;
    text-decoration: underline  !important;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    
}
   
.btnNeutral, .pagination-button {
    font-size:var(--buttonPrimaryBtnNeutral-font-size);
    line-height:var(--buttonPrimaryBtnNeutral-line-height);
    background-color:var(--buttonPrimaryBtnNeutral-backgroundcolor);
    color:var(--buttonPrimaryBtnNeutral-font-color);
    font-weight:var(--buttonPrimaryBtnNeutral-font-weight);
    padding: 12px 20px 15px 20px;
    border-radius: 15px;
    cursor: pointer;
}



button[disabled] {
    color:var(--buttonDisabled-font-color)  !important;
    border:var(--button-border-disabled-control) !important;
    background-color: var(--flwins-c-white) !important;
    
}
/* end button*/

.slds-input[readonly], input[readonly] {
    border: var(--slds-c-disabled-input-border-control) !important;
    background: var(--slds-c-disabled-input-color-background) !important;
    background-color:var(--slds-c-disabled-input-color-background) !important;
    color: var(--slds-c-disabled-input-text-color) !important;
    padding: var(--flwins-c-input-box-padding) !important;
}



/*table*/
.slds-table thead th span.slds-truncate {
    font-weight: var(--flwins-font-weight-700) !important;
    font-size: var(--flwins-c-font-size_14);
}
.slds-table th a {
    font-weight: var(--flwins-font-weight-400) !important;
    font-size: var(--flwins-c-font-size_14)  !important;
}
a.slds-nav-vertical__action, a.outputLookupLink {
    font-size: var(--flwins-c-font-size_14)  !important;
    font-weight: var(--flwins-font-weight-400) !important;
}


/*header*/
.forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>.comm-navigation__item>.slds-is-nested{
    border-radius: 10px  !important;
    border: 1px solid var(--header-dropdown-border-color) !important;
}

.forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>.comm-navigation__item>.slds-is-nested li.slds-list__item {
    border-bottom: 1px solid var(--header-dropdown-border-color) !important;
    padding: 5px;
}
.profile-language-section ul.slds-dropdown__list li.slds-dropdown__item{
        border-bottom: 1px solid var(--header-dropdown-border-color) !important;
}

.profile-language-section ul.slds-dropdown__list li:last-child{
        border-bottom: 1px solid var(--flwins-c-white) !important;
}

.EditProfileButton a, buttonBrand a {
    font-size: var(--buttonPrimaryBtnBrand-font-size) !important;
    color: var(--buttonPrimaryBtnBrand-font-color) !important;
    padding: var(--buttonPrimaryBtnBrand-padding)  !important;
    border-radius: var(--buttonPrimaryBtnBrand-borderRadius)  !important;
    font-weight: var(--buttonPrimaryBtnBrand-font-weight)  !important;
    width: var(--buttonPrimaryBtnBrand-btnWidth) !important;
    line-height:var(--buttonPrimaryBtnBrand-line-height) !important;
    background-color:var(--buttonPrimaryBtnBrand-backgroundColor) !important;
}

.ChangePasswordBtnDiv a, buttonNeutral a {
    font-size: var(--buttonPrimaryBtnNeutral-font-size) !important;
    color: var(--buttonPrimaryBtnNeutral-font-color) !important;
    padding: var(--buttonPrimaryBtnNeutral-padding)  !important;
    border-radius: var(--buttonPrimaryBtnNeutral-borderRadius)  !important;
    font-weight: var(--buttonPrimaryBtnNeutral-font-weight)  !important;
    width: var(--buttonPrimaryBtnNeutral-btnWidth) !important;
    line-height:var(--buttonPrimaryBtnNeutral-line-height) !important;
    border: var(--buttonPrimaryBtnNeutral-btnBorder) !important;
}

.Deactivate a {
    width: auto !important;
    font-size: var(-flwins-c-font-size_16)  !important;
    line-height: 20px  !important;
    color:var(--flwins-c-color-mainPrimaryColor)  !important;
    font-weight: 700  !important;
    padding: 15px 20px  !important;
}
/*mobile*/
@media (max-width: 767px) {
    h1, h2.section, h2.slds-text-heading_large, h3.section, .largeTitle {
        font-size: var(--flwins-c-font-size_48) !important;
        line-height: var(--flwins-c-line-height58) !important;
        font-weight:var(--flwins-font-weight-300) !important;
        letter-spacing:var(--flwins-c-letter-spacing-2);
    }
    
    .hero, .heroMobile, hero-mobile, h1.header-image-section {
        font-weight:var(--flwins-font-weight-700) !important;
        font-size:var(--flwins-c-font-size_64) !important;
        color:var(--flwins-c-sectionheadline-text-color) !important;
        line-height:var(--flwins-c-line-height68) !important;
        letter-spacing:var(--flwins-c-letter-spacing-2);
    }
    
    h1.mobile, h2.sectionMobile, h3.sectionMobile, h3.section, h3.slds-text-heading_large {
        font-weight:var(--flwins-font-weight-300) !important;
        font-size:var(--flwins-c-font-size_48) !important;
        line-height: var(--flwins-c-line-height58) !important;
    }
    
    h3, h4, p.strong, .smallTitle, .slds-text-heading_small, h2.min {
        font-weight:var(--flwins-font-weight-700) !important;
        font-size: var(--flwins-c-font-size_18) !important;
        
    }
    
   
}