.card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.documentTypeSelectionWapper{
    margin-top:29px;
}

.card-item {
    border: 3px solid var(--flwins-c-navy-navy-80); 
    border-radius: 20px;
    padding: 1rem;
    background: var(--flwins-c-white);
    cursor: pointer;
    
}

.card-item:hover {
    border-color: var(--flwins-c-sky-sky-30); /* Salesforce blue */
}

.card-item.selected {
    border-color:  var(--flwins-c-sky-sky-30);
    background-color: var(--flwins-c-white); /* light blue highlight */
}
.custom-radio {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.75rem;
}
.docTypeRadio-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-weight: var(--flwins-font-weight-700) !important;

}
.docTypeRadio-desc{
     margin-left:  20px;
      margin-top:  10px;
     display: block;
}
   
.docTypeRadio-label {
    display:block;
}

.docTypeSelctioinRadio {
    margin-top: 5px;
}

.documentTypeSubtitle {
    margin-bottom: 29px;
}